body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.table-dark {
  color: #fff;
  background-color: #212529;
}

.demotbl {
 
  border-collapse: collapse;
  padding: 10px 
  border: 1px solid #69899F;
   
  }
   
  .demotbl th{
   
  border: 2px solid #69899F;
   
  color: rgb(47, 49, 51);
   
  padding:10px;
   
  }
   
  .demotbl td{
   
  padding:10px;
   
  border: 1px dotted black;
   
  color: #002F5E;
   
  padding:15px;
   
  }