html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: table-cell;
  
  
}
h1 {
  color: black;
  text-align: center;
}
h2 {
  color: black;
  text-align: center;
}
a {
  color: #00B7FF;
}

.table {
  width: 70%;
  max-width: 70%;
  color: white;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.781)
}
